.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid rgb(226, 221, 221);
}

.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
    justify-content: center;
}

.hamburger-icon-container{
    height: 25px;
    padding: 6px;
    border-radius: 50%;
}

.hamburger-menu{
    height: 25px;
    cursor: pointer;
}

.hamburger-icon-container:hover{
    background-color: rgb(232, 232, 232);
}

.youtube-logo{
    height: 20px;
    cursor: pointer;
    margin-left: 24px;
}

.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar{
    width: 0;
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 2px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: inset 1px 1px 2px rgba(0,0,0, 0.08);
}

.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}

.search-button{
    height: 39px;
    width: 66px;
    background-color: #f7f7f7;
    border: 1px solid rgb(211, 211, 211);
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.search-icon{
    height: 25px;
}

.search-button:hover{
    background-color: rgb(230, 230, 230);
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-container,
.notification-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notification-icon-container .tooltip{
    position: absolute;
    background-color: gray;
    padding: 6px 9px;
    border-radius: 2px;
    font-size: 12px;
    color: white;
    opacity: 0;
    bottom: -35px;
    pointer-events: none;
    transition: opacity .15s;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
    opacity: 1;
}

.voice-search-button{
    height: 39px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #f8f8f8;
    cursor: pointer;
}

.voice-search-icon{
    height: 24px;
}

.voice-search-button:hover{
    background-color: rgb(232, 232, 232);
}

.right-section{
    width: 180px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.upload-icon{
    height: 24px;
    cursor: pointer;
}

.upload-icon-container,
.youtube-apps-container,
.notification-icon-container{
    padding: 6px;
    border-radius: 50%;
}

.upload-icon-container:hover,
.youtube-apps-container:hover,
.notification-icon-container:hover{
    background-color: rgb(232, 232, 232);
}

.youtube-apps-icon{
    height: 24px;
    cursor: pointer;
}

.notification-icon-container{
    position: relative;
}

.notifications-icon{
    height: 24px;
    cursor: pointer;
}

.notifications-count{
    position: absolute;
    background-color: rgb(194, 0, 0);
    color: white;
    top: 1px;
    right: 1px;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 1.5px;
    border-radius: 50%;
}

.current-user-picture{
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}