.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail{
    width: 100%;
    margin-bottom: 10px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-picture{
    width: 36px;
}
.profile-picture{
    width: 100%;
    border-radius: 50%;
}
.video-title{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
}
.video-description{
    margin-bottom: 4px;
    font-size: 12px;
    color: #606060;
}
.video-stats{
    font-size: 12px;
    color: #606060;
}

.video-preview{
    position: relative;
}

.video-time{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 3px;
    color: white;
    bottom: 20px;
    right: 5px;
}